.header {
  text-align: right;
  padding: 0 2px;
  margin-bottom: 20px;
}

.search-field {
  margin-bottom: 20px;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .search-field {
    width: 100%;
  }
  .header {
    padding: 0;
  }
}
