/* @import "./mixin.module.scss";
@import "./partials.scss"; */

.navbar {
  position: relative;
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
  transition: 0.5s;
  z-index: 98;
  background-color: #f8f9fa;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .navbar-wrapper {
    flex-direction: column;
    gap: 12px;
    align-items: inherit;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left h3 {
  border-left: 3px solid #333;
  color: #283686;
  font-size: 1.2rem;
  padding-left: 10px;
  text-transform: capitalize;
}

.navbar-right {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .navbar-right {
    justify-content: end;
  }
}

.navbar-right-items {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 100%;
}

.navbar-right-items h5 {
  border-radius: 100%;
  background-color: #283686;
  color: #fff;
  text-transform: uppercase;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.425);
}

.submenu {
  position: absolute;
  top: 43px;
  left: -50px;
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.425);
  border-radius: 3px;
  transition: 0.1s ease;
  transform-origin: top right;
  transform: scale(0);
}

.submenu ul {
  list-style-type: none;
  padding: 10px;
}

.submenu ul a li {
  font-size: 1rem;
  font-weight: 600;
  font-family: system-ui;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.submenu ul a li:hover {
  background-color: rgba(0, 0, 0, 0.125);
}

.navbar-right-items .submenu-active {
  transform: scale(1);
}

.navbar .icon {
  font-size: 26px;
  cursor: pointer;
}

.navbar-right-items:nth-child(1) {
  animation: updown 1s ease infinite;
  padding: 5px;
}
.navbar-right-items:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.125);
}

@keyframes updown {
  0% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(-1px);
  }
}

.navbar-right-items:nth-child(2) {
  animation: leftright 1s ease infinite;
  padding: 4px;
}

.navbar-right-items:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.125);
}

@keyframes leftright {
  0% {
    transform: translateX(-1px);
  }

  50% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(-1px);
  }
}

.navbar .counter {
  width: 5px;
  height: 5px;
  background-color: red;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 8px;
  border: 1px solid #fff;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}

.navbar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar .menu {
  position: absolute;
  top: 40px;
  z-index: 100;
  background-color: #fff;
  padding: 12px;
  left: -20px;
}
.navbar .menu ul {
  list-style: none;
}
.navbar .menu ul li {
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .navbar {
    width: 100%;
    left: 0;
  }
}

/* // Navbar Active */
.navbar-active {
  width: calc(100% - 100px);
  left: 100px;
}

@media screen and (max-width: 900px) {
  .navbar-active {
    width: 100%;
    left: 0;
  }
}

.notificationIconActive {
  color: rgb(2, 37, 194);
  background-color: rgba(0, 119, 255, 0.125);
}
.navbar-sticky {
  position: fixed;
  animation: stickyNavbar 0.3s;
  box-shadow: 10px 0px 5px 1px rgba(0, 0, 0, 0.425);
  top: 0;
}
@keyframes stickyNavbar {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}

.hamburger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hamburger-menu .bar {
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: #333;
}

.hamburger-menu .bar:nth-child(1) {
  width: 25px;
  transform: translateY(-5px);
}

.hamburger-menu .bar:nth-child(3) {
  width: 25px;
  transform: translateY(5px);
}

.hamburger-active .bar {
  width: 25px;
  height: 2px;
  background-color: #333;
}

.hamburger-active .bar:nth-child(1) {
  transform: translateY(2px) rotate(45deg);
}

.hamburger-active .bar:nth-child(2) {
  scale: 0;
}

.hamburger-active .bar:nth-child(3) {
  transform: translateY(-2px) rotate(-45deg);
}

.last-element{
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .last-element{
    margin-right: 0;
  }
}
