.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-field{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 47px;
}
.button{
    margin-top: 20px;
}